<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.odong.buddhismhomework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".pages.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pages.SettingsActivity"
            android:label="@string/title_settings"/>

        <activity android:name=".pages.BooksActivity" />
        <activity android:name=".pages.PlayerActivity" />
        <activity android:name=".pages.SittingActivity" />
        <activity android:name=".pages.HomeworkActivity" />
        <activity android:name=".pages.VideoBooksActivity"/>
        <activity android:name=".pages.VideoListActivity"/>
        <activity android:name=".pages.DictActivity"/>
        <activity android:name=".pages.DzjBookActivity"/>
        <activity android:name=".pages.DzjListActivity"/>
        <activity android:name=".pages.FavoritesActivity"/>
        <activity android:name=".pages.SearchActivity"/>

        <service android:exported="false" android:name=".back.DownloadService"/>
        <service android:exported="false" android:name=".back.ImportService"/>

    </application>


</manifest>
