<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="com.odong.buddhismhomework">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".pages.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".pages.SettingsActivity"
            android:label="@string/title_settings" />

        <activity android:name=".pages.audio.SectionActivity" />
        <activity
            android:name=".pages.audio.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:icon="@drawable/ic_sitting"
            android:name=".pages.SittingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".pages.HomeworkActivity" />
        <activity android:name=".pages.VideoActivity" />
        <activity android:name=".pages.DictActivity" />
        <activity
            android:icon="@drawable/ic_ddc"
            android:name=".pages.DdcActivity" />
        <activity android:name=".pages.reading.TextActivity" />
        <activity android:name=".pages.reading.CatalogActivity" />
        <activity android:name=".pages.reading.FavoritesActivity" />
        <activity android:name=".pages.reading.SearchActivity" />
        <activity
            android:icon="@drawable/ic_dzj"
            android:name=".pages.reading.EpubActivity" />
        <activity
            android:icon="@drawable/ic_dzj"
            android:name=".pages.reading.ChapterActivity" />
        <activity
            android:icon="@drawable/ic_dzj"
            android:name=".pages.reading.InfoActivity" />

        <service
            android:name=".services.SyncService"
            android:exported="false" />

        <service
            android:name=".services.IndexService"
            android:exported="false" />

        <receiver
            android:name=".receivers.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AlarmReceiver" />
    </application>


</manifest>
